.login_back{
    background: url("../images/bkg_tags.jpg");
    background-size: 100% 480px;
    height: 500px;
    margin-top: -40px;
    /*position: relative;*/
}
.containe{
    position: relative;
    width: 88%;
    margin: auto;
}
